@model IEnumerable<Lab2_Ed1_ABB.Models.Medication>

@{
    ViewBag.Title = "Order";
}

<h2>Crear Pedido</h2>
<h2 class="text-info">@ViewBag.mensage</h2>


@using (Html.BeginForm())
{
    <div class="row">
        <input type="text" class="form-control" name="search" value="" placeholder="Buscar Medicamento" />
        <button type="submit">Buscar</button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameDrug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>

        <th></th>
    </tr>
    @if (Model != null) 
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameDrug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }


</table>
